/* GENERAL */

* {
    width: 90%; /*provvisorio*/
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* Header bar */

header {
    background-color: pink;
    height: 100px;
}

.text {
    text-align: center;
    font-weight: 700;
    padding: 50px;
    
}

/* MAIN SECTION */

main {
    background-color: yellow;
    height: 300px;
    margin: 20px auto;
}

/* I section */

.title {
    background-color: turquoise;
}